@import "modules/reset";
@import "modules/modular-scale/modular-scale";
$ms-base: 1em;
$ms-ratio: 1.2;

h1 {
  font-size: ms(6);
  background-color: #00d6b2;
}

.test-sass {
  display: flex;
}

.test2 {
  @extend .test-sass;
  font-size: ms(1);
}